<div class="flex gap-2">

  <!-- comment indentation guide -->
  <template
    x-for="_ in Array(item[0])"
  >
    <div class="w-11 min-w-11 border-r-2 border-gray-700"></div>
  </template>

  <!-- comment outer container -->
  <div class="px-6">
    <!-- comment inner container -->
    <div class="flex flex-row gap-x-2 align-top">
      <!-- comment profile picture -->
      <div class="min-w-10 z-50">
        <template x-if="item[1].is_anonymous">
          <img class="size-10 rounded-full bg-gray-600" :src="IMG_ANON_AVATAR" draggable="false" aria-hidden="true">
        </template>
        <template x-if="!item[1].is_anonymous && getAvatar(item[1], userMap)">
          <img class="size-10 rounded-full" :src="getAvatar(item[1], userMap)" alt="user avatar">
        </template>
        <template x-if="!item[1].is_anonymous && !getAvatar(item[1], userMap)">
          <div
            :class="cn([
              'relative inline-flex items-center justify-center size-10 overflow-hidden rounded-full',
              `bg-${getColor(item[1].user_id, false)}`
            ])"
          >
            <span
              class="font-light text-white"
              x-text="getNameAbbrev(item[1], userMap)"
            ></span>
          </div>
        </template>
      </div>

      <div class="space-y-1 overflow-x-auto border-l-2 border-gray-700 -ml-[30px] pl-[30px] pb-4 pt-2 z-10">
        <!-- comment header -->
        <div class="flex text-sm font-light items-baseline gap-2">
          <!-- comment username -->
          <div class="flex items-center gap-1">
            <span
              class="text-[#ff8c66]"
              x-text="getAuthorName(item[1], userMap)"
            ></span>
            <span
              class="text-[0.5rem] font-semibold bg-[#372dad] rounded-md px-1"
              x-show="!item[1].is_anonymous && userMap[item[1].user_id].course_role === 'admin'"
            >
              STAFF
            </span>
          </div>

          <!-- comment date -->
          <span
            class="text-xs"
            x-text="formatDate(item[1].created_at)"
          ></span>
        </div>

        <!-- comment content -->
        <span
          class="text-sm font-light"
          x-html="item[1].content"
        ></span>

        <!-- comment likes -->
        <div :id="item[1].id + '-comment-likes'" class="flex gap-1 items-center text-xs">
          <span
            class="text-red-400"
          >&hearts;</span>
          <span
            x-text="item[1].vote_count"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
