<!-- main section for displaying current post -->
<div
  id="grid-column-current-post"
  :class="cn([
    'col-span-6', 'lg:col-span-3', 'h-[100vh]', 'space-y-4',
    'overflow-y-auto', 'bg-gray-900', 'pb-4'
  ])"
  x-init="$watch('$store.data.currentPost', (p) => { currentPost = p })"
  x-data="{
    currentPost: $store.data.currentPost, userMap: getUsers()
  }"
>
  <!-- button for triggering latex typesetting -->
  <div
    id="container-btn-typeset-latex"
    class="px-4 pt-4" x-data="{ shown: containsInlineLatex(currentPost) }"
    x-effect="shown = containsInlineLatex(currentPost)"
    x-show="shown"
  >
    <button
      id="btn-typeset-latex"
      :class="cn([
        'w-full', 'rounded-md', 'bg-green-400', 'px-2', 'py-1',
        'text-sm', 'text-green-900', 'hover:bg-green-500'
      ])"
      x-on:click="shown = false; replaceMathTags(); MathJax.typesetPromise()"
    >
      Click here to show LaTeX
    </button>
  </div>

  <!-- main post content -->
  <div
    id="main-post"
    :class="cn([
      'mx-4', 'mt-4', 'rounded-lg', 'border',
      'border-gray-700', 'bg-gray-800', 'text-white'
    ])"
  >
    <div class="space-y-8 p-8">
      <div
        id="main-post-header"
        class="flex gap-4 text-2xl font-light items-end"
      >
        <span
          id="main-post-title"
          x-text="currentPost.title"
        ></span>
        <span
          class="text-xl text-gray-400 font-thin"
          x-text="' #' + currentPost.number"
        ></span>
      </div>

      <div id="user-avatar" class="flex items-center gap-2">
        <template x-if="currentPost.is_anonymous">
          <img class="size-10 rounded-full bg-gray-600" :src="IMG_ANON_AVATAR" draggable="false" aria-hidden="true">
        </template>
        <template x-if="!currentPost.is_anonymous && getAvatar(currentPost, userMap)">
          <img class="size-10 rounded-full" :src="getAvatar(currentPost, userMap)" alt="user avatar">
        </template>
        <template x-if="!currentPost.is_anonymous && !getAvatar(currentPost, userMap)">
          <div
            :class="cn([
              'relative inline-flex items-center justify-center size-10 overflow-hidden rounded-full',
              `bg-[${getColor(currentPost.user_id, false)}]`
            ])"
          >
            <span
              class="font-light text-white"
              x-text="getNameAbbrev(currentPost, userMap)"
            ></span>
          </div>
        </template>

        <div class="flex flex-col">
          <div class="flex gap-1 font-light text-white items-center">
            <span class="text-[#ff8c66]" x-text="currentPost.is_anonymous ? 'Anonymous' : getAuthorName(currentPost, userMap)"></span>
            <span
              class="text-[0.5rem] font-semibold bg-[#372dad] rounded-md px-1 py-[2px]"
              x-show="!currentPost.is_anonymous && userMap[currentPost.user_id].course_role === 'admin'"
            >
              STAFF
            </span>
          </div>

          <div class="flex gap-1 items-baseline">
            <span class="text-xs text-semibold" >Posted in </span>
            <span
              :class="cn([
                'text-xs text-semibold', `text-[${getColor(currentPost.category, true)}]`
              ])"
              x-text="getFullCategory(currentPost)"
            ></span>
          </div>
        </div>
      </div>

      <div id="main-post-body" class="overflow-x-auto">
        <span
          id="main-post-content"
          class="space-y-2 text-sm"
          x-html="currentPost.content"
        ></span>
      </div>
    </div>

    <div
      id="main-post-footer"
      :class="cn([
        'flex', 'w-full', 'justify-between', 'border-t',
        'border-gray-700', 'px-4', 'py-2', 'align-middle'
      ])"
    >
      <div id="current-post-footer-info" class="flex gap-4 text-xs">
        <div id="current-post-likes" class="flex gap-1 items-center">
          <span class="text-red-400">&hearts;</span>
          <span x-text="currentPost.vote_count + (currentPost.vote_count === 1 ? ' like' : ' likes')"></span>
        </div>
        <span x-text="currentPost.view_count + ' total views'"></span>
        <span x-text="currentPost.unique_view_count + ' unique views'"></span>
      </div>
      <span
        id="main-post-last-updated-by"
        class="text-xs"
        x-html="
          'Last updated ' + formatDate(currentPost.updated_at) +
          ' by <b>' + (currentPost.is_anonymous ? 'Anonymous' :
          userMap[currentPost.user_id].name) + '</b>'
        "
      ></span>
    </div>
  </div>

  <div
    :class="cn([
      'mx-4', 'my-4', 'py-4', 'rounded-lg', 'border',
      'border-gray-700', 'bg-gray-800', 'text-white',
      'overflow-x-auto'
    ])"
    x-show="currentPost.answers.length > 0"
  >
    <!-- post answers -->
    <h1 class="px-4 pb-4">Answers</h1>
    <template
      x-for="item in flattenComments(currentPost.answers)"
      :key="item[1].id"
    >
      {{ comments_content }}
    </template>
  </div>

  <div
    :class="cn([
      'mx-4', 'my-4', 'py-4', 'rounded-lg', 'border',
      'border-gray-700', 'bg-gray-800', 'text-white',
      'overflow-x-auto'
    ])"
    x-show="currentPost.comments.length > 0"
  >
    <!-- post comments -->
    <h1 class="px-4 pb-4">Comments</h1>
    <template
      x-for="item in flattenComments(currentPost.comments)"
      :key="item[1].id"
    >
      {{ comments_content }}
    </template>
  </div>

</div>
